:root {
  /* Змінні тексту */
  --title_shrift: "Righteous", sans-serif;
  --text_style: "Ubuntu", sans-serif;
  --page-font-size: 16px;
  /* Змінні кольорів */
  --accent-color: #339ead;
  --item-category-text-color: #b4ad9e;
  --event-color: #d318bd;
  --text-color: #626262;
  /* Змінні градієнтів */
  --page-background-image-color: radial-gradient(
    circle,
    rgb(173, 18, 85) 0%,
    rgb(177, 158, 166) 34%,
    rgba(148, 233, 203, 1) 100%
  );
}

/* reset start */
/* reset end */

/* base style start */
li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  font-size: var(--page-font-size);
  color: var(--text-color);
  font-family: var(--title_shrift);
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px;
}

main {
  background: var(--page-background-image-color);
}

img {
  scale: 1;
  &:hover {
    scale: 1.2;
    rotate: 2deg;
  }
}
/* base style end */

/* header start */
.nav-list {
  display: flex;
  justify-content: center;
}
.nav-link {
  color: #7d7d7d;
  font-family: var(--text_style);
  font-size: var(--page-font-size);

  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
  &:hover,
  &:focus {
    color: var(--event-color);
    font-size: 17px;
  }
}

.nav-list-item {
  color: transparent;
}

a.active {
  color: var(--accent-color);
  font-family: var(--text_style);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-decoration: none;
}
/* header end */

/* main start */
.secdescription h1 {
  color: #626262;
  font-family: var(--title_shrift);
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.textpage {
  color: #626262;
  font-family: var(--title_shrift);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.item-category-text {
  color: var(--item-category-text-color);
  font-family: var(--text_style);
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.description li {
  color: transparent;
}
.nav-list li {
  margin-right: 99px;
}
.container1,
.container2,
.container3 {
  display: flex;
  justify-content: center;
  margin-left: 8.33333333333%;
}
.textpage {
  margin-top: 40px;
  margin-right: 65px;
}
.minititle {
  margin-top: 32px;
  margin-bottom: 32px;
}
.container2,
.container3 {
  margin-top: 130px;
}
.container1 {
  margin-top: 92px;
}
.description li {
  margin-right: 255px;
}
.button {
  color: #626262;
  font-family: var(--text_style);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-top: 20px;
  padding-left: 49px;
  padding-right: 48px;
  padding-bottom: 21px;
  background-color: white;
  stroke-width: 1px;
  stroke: #626262;
  cursor: pointer;
  &:hover,
  &:focus {
    color: var(--event-color);
    background-color: black;
    font-size: 20px;
    font-weight: 700;
  }
}
.container-for-button {
  display: flex;
  justify-content: center;
}
/* main end */
